# web application files
/web-app/WEB-INF

# IDE support files
/.launch
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# logs
/stacktrace.log
/test/reports
/logs

# plugin release file
/*.zip

# "temporary" build files
/target

# other
*.iws
